/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Perks */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
del,
ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label,
button {
  cursor: pointer;
}

input,
button {
  outline: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
  font-weight: 800;
}

a {
  color: var(--text);
}

img {
  max-width: 100%;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.title--small {
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.text--primary {
  color: var(--primary);
}
.text--hint {
  color: var(--hint);
}

.link {
  position: relative;
  white-space: nowrap;
}
.link:before, .link:after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--dark);
  top: 140%;
  left: 0;
  pointer-events: none;
}
.link:before {
  content: "";
}

.link-underline:before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}
.link-underline:hover:before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.container {
  display: grid;
  grid: "picture header" auto "aside main" 1fr "footer footer" auto/350px auto;
}
@media (max-width: 480px) {
  .container {
    grid: "header" auto "main" auto "picture" auto "aside" auto "footer" auto/auto;
  }
}

.picture {
  grid-area: picture;
  padding: 6rem 6rem 6rem 6rem;
  background: var(--background);
  border-right: 1px solid var(--border);
}
@media (max-width: 480px) {
  .picture {
    padding: 3rem 3rem 3rem 3rem;
  }
}
.picture img {
  border-radius: 50%;
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 8rem 5rem 8rem 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 480px) {
  header {
    padding: 4rem 4rem 4rem 4rem;
    text-align: center;
  }
}
header h1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 8rem;
  letter-spacing: 3rem;
}
@media (max-width: 480px) {
  header h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
header h1 i {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  color: var(--dark);
}
header p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: 0.5rem;
}
@media (max-width: 480px) {
  header p {
    display: none;
  }
}
header p i {
  margin: 0 2rem 0 2rem;
  color: var(--dark);
}

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem 5rem 5rem 5rem;
  color: var(--hint);
}
@media (max-width: 480px) {
  aside {
    padding: 2rem 2rem 2rem 2rem;
  }
}
aside h2 {
  margin: 0 0 4rem 0;
}
aside .content {
  margin: 0 0 6rem 0;
}
aside .content h3 {
  margin: 0 0 0.8rem 0;
}
aside .content p {
  margin: 0 0 2rem 0;
  font-size: 1.4rem;
  font-style: italic;
}

.stars-container {
  display: flex;
  margin: 2rem 0 3rem 0;
}
.stars-container i {
  font-size: 2rem;
  margin: 0 0.5rem 0 0.5rem;
}

main {
  grid-area: main;
  padding: 5rem 5rem 5rem 5rem;
  color: var(--hint);
}
@media (max-width: 480px) {
  main {
    padding: 4rem 2rem 4rem 2rem;
  }
}
main h2 {
  margin: 0 0 4rem 0;
}
main p {
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
main .experience {
  display: flex;
  margin: 6rem 0;
}
main .experience .timeline {
  text-align: center;
  color: var(--dark);
  padding-right: 2rem;
  border-right: 1px solid var(--border);
}
main .experience .timeline p {
  margin: 0;
}
main .content {
  padding: 0 1rem;
}
main .content h3 {
  margin: 0;
  color: var(--hint);
}
main .content p {
  margin: 0;
}
main .content ul {
  margin: 2rem 0;
  list-style: circle;
  padding-left: 4rem;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background);
  padding: 5rem 5rem 5rem 5rem;
  background-color: var(--text);
}
@media (max-width: 480px) {
  footer {
    padding: 2rem 2rem 2rem 2rem;
  }
}
footer h2 {
  margin: 0 0 4rem 0;
}
@media (max-width: 480px) {
  footer h2 {
    margin: 0 0 2rem 0;
  }
}
footer form {
  display: flex;
  align-items: center;
}
footer form .email {
  background: linear-gradient(to right, var(--light), var(--dark));
  padding: 1rem 2rem 1rem 2rem;
  color: var(--text);
  font-size: 2rem;
}
footer form button {
  background: var(--primary);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
footer form button:hover {
  opacity: 0.8;
}
footer form button .send {
  background: var(--primary);
  padding: 0.9rem 2rem 0.9rem 2rem;
  color: var(--hint);
  font-size: 2rem;
}
footer form input {
  outline: none;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  min-width: 400px;
  line-height: 2rem;
}
@media (max-width: 480px) {
  footer form input {
    min-width: 100px;
  }
}
footer form input::placeholder {
  color: var(--hint);
}

/*# sourceMappingURL=styles.css.map */
