.title {
  &--small {
    letter-spacing: 0.2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

.text {
  &--primary {
    color: var(--primary);
  }
  &--hint {
    color: var(--hint);
  }
}
