@import 'reset';
@import 'base';
@import 'utils';
@import 'classes';
@import 'animations';

.container {
  display: grid;
  grid:
    'picture header' auto
    'aside main' 1fr
    'footer footer' auto
    / 350px auto;
  height: 100vh;
}

.picture {
  grid-area: picture;
  padding: 6rem;
  background: var(--background);
  border-right: 1px solid var(--border);
  img {
    border-radius: 50%;
  }
}

header {
  grid-area: header;
  text-align: center;
  background: (linear-gradient(to right, var(--primary), var(--light)));
  padding: 8rem 5rem 8rem 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 8rem;
    letter-spacing: 3rem;
    i {
      animation: bounce 0.8s;
      animation-direction: alternate;
      animation-iteration-count: 4;
      color: var(--dark);
    }
  }
  p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: 0.5rem;
    i {
      margin: 0 2rem 0 2rem;
      color: var(--dark);
    }
  }
}

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem 5rem 5rem 5rem;
  color: var(--hint);
  h2 {
    margin: 0 0 4rem 0;
  }
  .content {
    margin: 0 0 6rem 0;
    h3 {
      margin: 0 0 0.8rem 0;
    }
    p {
      margin: 0 0 2rem 0;
      font-size: 1.4rem;
      font-style: italic;
    }
  }
}

.stars-container {
  display: flex;
  margin: 2rem 0 3rem 0;
  i {
    font-size: 2rem;
    margin: 0 0.5rem 0 0.5rem;
  }
}

main {
  grid-area: main;
  padding: 5rem;
  color: var(--hint);
  h2 {
    margin: 0 0 4rem 0;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }
  .experience {
    display: flex;
    margin: 6rem 0;
    .timeline {
      text-align: center;
      color: var(--dark);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p {
        margin: 0;
      }
    }
  }
  .content {
    padding: 0 1rem;
    h3 {
      margin: 0;
      color: var(--hint);
    }
    p {
      margin: 0;
    }
    ul {
      margin: 2rem 0;
      list-style: circle;
      padding-left: 4rem;
    }
  }
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background);
  padding: 5rem 5rem 5rem 5rem;
  background-color: var(--text);
  h2 {
    margin: 0 0 4rem 0;
  }
  form {
    display: flex;
    align-items: center;
    .email {
      background: linear-gradient(to right, var(--light), var(--dark));
      padding: 1rem 2rem 1rem 2rem;
      color: var(--text);
      font-size: 2rem;
    }
    button {
      background: var(--primary);
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
      .send {
        background: var(--primary);
        padding: 0.9rem 2rem 0.9rem 2rem;
        color: var(--hint);
        font-size: 2rem;
      }
    }
    input {
      outline: none;
      border: none;
      padding: 1rem 2rem 1rem 2rem;
      min-width: 400px;
      line-height: 2rem;
      &::placeholder {
        color: var(--hint);
      }
    }
  }
}
