@import 'reset';
@import 'base';

.container {
  display: grid;
  grid:
    'picture header' auto
    'aside main' 1fr
    / 350px auto;
  height: 100vh;
}

.picture {
  grid-area: picture;
  padding: 6rem;
  background: var(--background);
  img {
    border-radius: 50%;
  }
}

header {
  grid-area: header;
  text-align: center;
  background: (linear-gradient(to right, var(--primary), var(--light)));
  padding: 8rem 5rem 8rem 5rem;
  color: white;
  h1 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 8rem;
    letter-spacing: 3rem;
  }
  p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: 0.5rem;
  }
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}
